/vendor/
/composer.lock
# Ignore local PHPUnit configuration
/phpunit.xml
/coverage.xml
/.phpunit.result.cache

# Ignore PHP-CS-Fixer files
/.php_cs
/.php_cs.cache
/.php-cs-fixer.php
/.php-cs-fixer.cache
/cs_fixer_tmp_*

# Ignore local Infection configuration
/infection.log
/infection.json
/.phpunit.cache
