{
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "infection.log",
        "stryker": {
            "badge": "main"
        }
    },
    "mutators": {
        "@default": true,
        "ProtectedVisibility": {
            "ignore": [
                "IonBazan\\AliyunSigner\\RequestSigner::getHeadersToSign",
                "IonBazan\\AliyunSigner\\RequestSigner::getUrlToSign"
            ]
        }
    }
}
